body {
  background: url('/assets/site/mapblue.jpg') no-repeat fixed center;
}


.headerBand__header {
  display: none;
  position: relative;
margin: 20px auto;
width: 1300px;
  padding: 0.4em;
text-align: center;
font-size: 30px;
font-weight: 900;
background: rgba(80, 80, 80, 0.7)
}

.mainArea {
  margin:auto;
  float: left;
  width:75%;
  position: relative;

}

.sidebar {
  text-align: center;
  font-size: 2em;
  margin:auto;
float: right;
width:25%;
height: 150vh;
position: relative;
background: rgba(80, 80, 80, 1);
padding: 10px;
box-sizing: border-box;
}

/* .portraitContainer {
  font-weight: bold;
margin:auto;
float: left;
padding: 5px;
    width:12.5%;
    text-align: center;
} */

.mainArea__portraitContainer {
  width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 5px auto;
}



.button {
  margin: 15px;
  font-weight: 900;
  font-size: 1em;

}
.userInput {
  font-size: 1em;
}

.sidebar__input {
  position: absolute;
  top: 85vh;
}