@font-face {
  font-family: 'game_of_thronesregular';
  src: url('/fonts/game_of_thrones-webfont.eot');
  src: url('/fonts/game_of_thrones-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/game_of_thrones-webfont.woff2') format('woff2'),
    url('/fonts/game_of_thrones-webfont.woff') format('woff'),
    url('/fonts/game_of_thrones-webfont.ttf') format('truetype'),
    url('/fonts/game_of_thrones-webfont.svg#game_of_thronesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'game_of_thronesregular';
  background: url('/assets/site/mapblue.jpg') fixed center;
  background-size: 100%;
}

.headerBand__header {
  background: rgba(80, 80, 80, 0.7);
  display: none;
  font-size: 30px;
  font-weight: 900;
  margin: 20px auto;
  padding: 0.4em;
  position: relative;
  text-align: center;
  width: 1300px;
}

.sideBox__title {
  font-size: 25px;
  font-weight: 500;
  width: 100%;
}

.mainArea {
  float: left;
  margin: auto;
  position: relative;
  width: 75%;
}

.sidebar {
  background: rgba(80, 80, 80, 1);
  box-sizing: border-box;
  float: right;
  font-size: 1.8em;
  height: 150vh;
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 25%;
}

.sidebar__charNameLine__name {
  font-size: 20px;
  font-weight: normal;
}

.mainArea__portraitContainer {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 5px auto;
  padding: 2px;
  text-align: center;
  width: 150px;
}

.mainArea__portraitContainer:hover {
  background: grey;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

.mainArea__portraitContainer:active {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(235, 109, 7, 0.7);
}

.button {
  font-weight: 900;
  margin: 15px;
}

.sidebar__input {
  position: absolute;
  top: 85vh;
}

.sidebar__charDescDiv__descP {
  font-size: 0.5em;
  font-weight: normal;
  padding: 0 5px;
  text-align: justify;
}

.sidebar__charImages {
  size: 100%
}

.sidebar__charImages__img {
  font-size: 0.5em;
  max-width: 100%;
}

.sidebar__charNameLine__name {
  display: inline-block;
  text-align: left;
  width: 85%;
}

.sidebar__charNameLine__coaPic {
  display: inline-block;
}